.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 100px;
}

.user_box {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.user_icon{
    cursor: pointer;
    width: 69px;
    height: 69px;
    border-radius: 50%;
}

.score_box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coin_box {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #F28F3B1A;
    padding: 7px 15px;
    border-radius: 40px;
    font-size: 20px;
}

.coin_box img {
    width: 36px;
    height: 36px;
}

.seforim_link {
    border-radius: 100px;
    background: #5756B3;
    color: white;
    padding: 10px;
    font-size: 20px;
    gap: 20px;
    display: flex;
    cursor: pointer;
}

.signout_pop{
    position: absolute;
    border-radius: 100px;
    background: #5756B3;
    color: white;
    padding: 5px;
    cursor: pointer;
    top: 105%;
}